/*WE APPLY THE "MOBILE FIRST" APPROACH 
All the below CSS styles are applied to small devices. On small devices: hide the horizontal navbar */
/*Remove all default CSS styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*-------------------------------------*/
/*Define styles for curtain menu navbar*/
nav {
    min-height: 10vh;
    background-color: aqua;
}
/*Define style for the sandwich icon*/
.sandwich-icon-area {
    font-size: 2em; /*1em=16px => 32px = 2em*/
    float: none;
    cursor: pointer;
}
/*Define styles for the curtain menu layer*/
.overlay {
    height: 100%;
    width: 50%;
    display: none; /*block: show; none: hide*/
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.7);
    z-index: 1; /*Make this layer sit on top of other layer*/
}
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 32px;
}
.overlay a {
    padding: 8px;
    text-decoration: none; /*remove all default styles*/
    font-size: 2.0em;/*1em=16px => 2em = 32px*/
    color: white;
    display: block;
}
.close-icon {
    position: absolute;
    top: 1.0em;
    right: 1.5em; /*1.5em = 1.5*16px = 24px */
    font-size: 4.0em;
    color: white;
}
/*Add hover effec to the hyperlinks */
.overlay a:hover, .overlay a:focus {
    color: green;
}

/*------------------------------------*/
/*Define for Main*/
main {
    min-height: 80vh;
    background-color: white;
}

#itemList {
    display: block;
    width: 100%;
}
.item-card {       
    display: block;
    width: 90%;
    margin-bottom: 10px;
	margin-left: 5px;
    padding: 5px;
    background-color: wheat;
    box-shadow: 5px 5px lightblue;
}
.item-card h4, .item-card p,  .item-card h3{
    text-align: center;
}
.item-card img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-card button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow; 
    padding: 3px;
}

.one-item-card {
    background-color: pink;
    padding: 5px;
    margin: 5px;
    width: 90%;
}

/*Shopping cart*/
#shopping-cart {
    display: none;
    background-color: pink; 
    width: 90%;
    padding: 10px;
}

table, th, td {
    border:1px solid black;
    border-collapse: collapse;
    text-align: center;
}
table {
    width: 100%;
    margin: 10px;
    padding: 5px;
}



/*-----------------------------------*/
/*Define for footer*/
footer {
    height: 10vh;
    background-color: aqua;
    /*Centralize the footer text*/
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p {
    font-size: 20px;/*Default font-size is 16px */
    font-weight: bold;
    text-align: center;
}


/*----------------------------------------------------------*/
/*All the below CSS styles will be applied for medium devices */
@media screen and (min-width: 426px) {
    /*All styles here are for medium devices*/
    #itemList {
        display: flex;
		flex-flow: row wrap;
    }
    .item-card {       
        width: 45%;
		margin: 5px;
		border: 2px solid black;
        background-color: lightpink;
    }
}

/*All the below CSS styles will be applied for big devices */
@media screen and (min-width: 769px) {
    /*All styles here are for big devices*/
    #itemList {
        display: flex;
		flex-flow: row wrap;
    }
    .item-card {       
        width: 19%;
		margin: 5px;
		border: 2px solid black;
        background-color: orange;
    }

    .one-item-card {
        width: 50%;
    }

    /*Shopping cart*/
    #shopping-cart {
        width: 50%;
    }

}